.centerButton {
  margin: auto;
}
.actions {
  margin-top: 1rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: black;
  padding: 0.5rem 1.5rem;
  border: 3px solid black;
  font-weight: bold;
}

.backgroundPurple {
  background-color: #77002e;
  border: 3px solid black;
}

.backgroundWhite {
  background-color: white;
}

.backgroundWhite:hover {
  background-color: #a50e48;
  border: 3px solid black;
}

.filtersWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
  border-top: 5px solid #77002e;
  padding: 20px;
}

@media (max-width: 560px) {
  .filtersWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
