.options {
  padding: 20px;
  font-size: 2rem;
}

.centerOptions {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

@media(max-width: 560px){
  .options {
    padding: 5px;
    font-size: 1rem;
  }
}
