.wrap {
  padding: 20px;
}

.cardWrap {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.dataFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
