.cardWrapper {
  width: 30%;
  margin: 10% 5% 0 0;
}

.dataWrap {
  width: 40%;
  margin: 50px 70px;
}

@media (max-width: 1500px) {
  .dataWrap {
    width: 100%;
  }
}

.contentWrap {
  padding: 50px;
}
.headingWrapper {
  border-bottom: 5px solid #77002e;
  overflow: none;
}

.actions {
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin: auto;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.mainDataFormWrapper {
  width: 100%;
  border: none;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainDataFormWrapper input
 {
  border: none;
  font-weight: bold;
  font-size: 1em;
  width: 200px;
}

@media (max-width: 1000px) {
  .headingFormWrapper > input {
    width: 100px;
  }
}

.description {
  text-align: center;
  cursor: pointer;
}

.description_header {
  display: block;
}

.priceHeadings {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}