.cardWrapper {
  width: 30%;
  margin: 10% 5% 0 0;
}

.dataWrap {
  width: 40%;
  margin: 50px 70px;
}

@media (max-width: 1400px) {
  .dataWrap {
    width: 100%;
  }
}

.contentWrap {
  padding: 50px;
}
.headingWrapper {
  border-bottom: 5px solid #77002e;
  overflow: none;
}

.actions {
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin: auto;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.mainDataFormWrapper {
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border: 5px solid #77002e;
  padding: 5px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mainDataFormWrapper::-webkit-scrollbar {
  display: none;
}

.mainDataFormWrapper:nth-child(1) {
  margin-top: 0;
}

.mainDataFormWrapper input {
  border: none;
  font-weight: bold;
  font-size: 2rem;
  width: 200px;
}

.mainDataFormWrapper .priceHeadings {
  display: inline;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  width: 168px;
}

@media (max-width: 900px) {
  .mainDataFormWrapper input {
    max-width: 100px;
  }

  .totalPriceHeadings {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    max-width: 100px;
    text-align: left;
  }

  .priceWrap input {
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    max-width: 83px;
  }
}

.description {
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
}

.description:last-child {
  margin-bottom: 50px;
}

.description_header {
  display: block;
}

.totalPriceHeadings {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  width: 200px;
  text-align: left;
}

.priceWrap {
  display: block;
}

.priceHeadings {
  display: inline;
}

.priceWrap input {
  width: 179px;
  display: inline;
}

.textFieldStyles {
  cursor: auto;
}

.textInputs {
  border: 2px outset grey;
  font-weight: bold;
  font-size: 1em;
  width: 50%;
}

.flexButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
